* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  background-color: white;
  flex: 1;
  /* padding: 25px; */
}

.item-green {
  background-color: lightgreen;
  flex-basis: 100%;
  height: 100px;
  line-height: 100px;
  padding-left: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 65%;
  row-gap: 1em;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  justify-content: space-between;
  flex-basis: 50%;
}

div.item-yellow ~ div, div.item-red ~ div {
  background-color: white;
  padding: 1em 1.5em;
  flex-basis: 40%;
}

.yellow-title {
  margin-top: 40px;
}

.item-yellow {
  background-color: yellow;
  padding-left: 25px;
}

.item-1 {
  background-color: white;
  width: 55px;
  height: 35px;
  margin: 20px;
  text-align: center;
}

.item-2{
  background-color: white;
  width: 55px;
  height: 35px;
  margin: 20px;
  text-align: center;
}

.item-3 {
  background-color: white;
  width: 55px;
  height: 35px;
  margin: 20px;
  text-align: center;
}

.item-4 {
  background-color: white;
  width: 55px;
  height: 35px;
  margin: 20px;
  text-align: center;
}

.red-title {
  margin-top: 40px;
}

.item-red {
  background-color: lightsalmon;
  padding-left: 25px;
}

.item-orange {
  background-color: orange;
  flex-basis: 100%;
  height: 100px;
  line-height: 100px;
  padding-left: 25px;
}

.item-blue {
  background-color: lightskyblue;
  flex: 1;
  padding-left: 25px;
  padding-top: 40px;
}